---
import Header from "@c/Header.jsx";
import Layout from "@l/Layout.astro";
import Hero from "@c/Hero.astro";

const headerLinks = [
  { href: "/myWardrobe", content: "My Wardrobe" },
  { href: "/pamShare", content: "Pam Share" },
  { href: "/#about", content: "About Us" },
];

const sessionUser = Astro.locals.user
---

<Layout
  title="PAME - Your Wardrobe Online"
  desc="PAME is a Wardrobe Online where you will be able to Manage your Outfits and Share them with your Friends."
>
<form action="api/deleteData" method="post"><button>Delete</button></form>
  <Header client:load headerLinks={headerLinks} user={sessionUser} show={true}/>
  <Hero />
  <section id="about" class="px-4 py-20 min-h-[100vh]">
    <h1 class="text-2xl">About</h1>
  </section>
</Layout>
