---
import Header from "@/components/Header.jsx";
import Layout from "@l/Layout.astro";
import Hero from "@/components/Hero.astro";

const headerLinks = [
  { href: "/myWardrobe", content: "My Wardrobe" },
  { href: "/pamShare", content: "Pam Share" },
  { href: "/#about", content: "About Us" },
];
---

<Layout
  title="PAME - Your Wardrobe Online"
  desc="PAME is a Wardrobe Online where you will be able to Manage your Outfits and Share them with your Friends."
>
  <Header client:load headerLinks={headerLinks} />
  <Hero />
  <section id="about" class="px-4 py-20 min-h-[100vh]">
    <h1 class="text-2xl">About</h1>
  </section>
</Layout>
