---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="PAME - Your Wardrobe Online"
  desc="PAME is a Wardrobe Online where you will be able to Manage your Outfits and Share them with your Friends."
>
<h1 class="text-4xl text-center py-4">WELCOME TO PAME</h1>
</Layout>
