---
import Layout from "@l/Layout.astro";
import LogInComp from "@c/LogIn.jsx"
---

<Layout
  title="PAME - Log In"
  desc="Log Into your PAME account. PAME is a Wardrobe Online where you will be able to Manage your Outfits and Share them with your Friends."
  ><header class="p-4">
    <a href="/" class="hover:animate-pulse">
      <h1 class="text-2xl font-semibold">P A M E</h1>
    </a>
  </header>
  <LogInComp client:load/>
</Layout>
