---
import Header from "@/components/Header.jsx";
import Layout from "@l/Layout.astro";
import Wardrobe from "@c/Wardrobe.jsx"
import { db, User, eq } from "astro:db";

const headerLinks = [
  { href: "/pamShare", content: "Pam Share" },
  { href: "/profile", content: "My Profile" },
  { href: "/#about", content: "About Us" },
];

const sessionUser = Astro.locals.user;
let dbUser = null;
if (sessionUser) {
  dbUser = (await db.select().from(User).where(eq(User.id, sessionUser.id))).at(0);
} else {
  return Astro.redirect("/logIn");
}
---

<Layout
  title="PAME - My Wardrobe"
  desc="Let's make outfits!! PAME is a Wardrobe Online where you will be able to Manage your Outfits and Share them with your Friends."
>
  <Header client:load headerLinks={headerLinks} user={sessionUser} show={false} />
  {
    dbUser && (
      <main class="py-1 px-4">
        <header class="w-full flex items-center">
          <h1 class="text-2xl">M Y * W A R D R O B E</h1>
        </header>
        <Wardrobe client:visible />
      </main>
    )
  }
</Layout>
