---
import Header from "@/components/Header.jsx";
import Layout from "@l/Layout.astro";
import { eq } from "astro:db";
import { User } from "astro:db";
import { db } from "astro:db";

const headerLinks = [
  { href: "/myWardrobe", content: "My Wardrobe" },
  { href: "/profile", content: "My Profile" },
  { href: "/#about", content: "About Us" },
];

const sessionUser = Astro.locals.user;
let dbUser = null;
if (sessionUser) {
  dbUser = (await db.select().from(User).where(eq(User.id, sessionUser.id))).at(0);
} else {
  return Astro.redirect("/logIn");
}
---

<Layout
  title="PAME - Pam Share"
  desc="Let's share your clothes in PAME!! PAME is a Wardrobe Online where you will be able to Manage your Outfits and Share them with your Friends."
>
  <Header client:load headerLinks={headerLinks} user={sessionUser} show={false}/>
  {
    dbUser && (
      <main class="py-1 px-4">
        <header class="w-full flex items-center">
          <h1 class="text-2xl">P A M * S H A R E</h1>
        </header>
      </main>
    )
  }
</Layout>
