---
import Header from "@/components/Header.jsx";
import Layout from "@/layouts/Layout.astro";

const sessionUser = Astro.locals.user;

const headerLinks = [
  { href: "/myWardrobe", content: "My Wardrobe" },
  { href: "/pamShare", content: "Pam Share" },
  { href: "/#about", content: "About Us" },
];
---

<Layout title="Privacy and policy" desc="PAME's app Privacy & Policy">
  <Header headerLinks={headerLinks} show={true} user={sessionUser} />
  <main class="w-full max-w-[600px] mx-auto mt-10 mb-10 px-4">
    <h1 class="text-2xl font-semibold mb-5">P A M E - PRIVACY & POLICY</h1>
    <article class="py-5">
      <h2 class="text-2xl w-full border-b-2">1. Introduction</h2>
      <p>
        Welcome to "PAME" This Privacy Policy explains how we collect, use, and
        protect your personal data when you use our application.
      </p>
    </article>
    <article class="py-5">
      <h2 class="text-2xl w-full border-b-2">2. Data Collected</h2>
      <ul>
        <li>
          Personal Data: Users can register and provide the following data:
          images, name, description, date of birth, location, and password.
        </li>
        <li>
          Collection Methods: Data is collected during the registration process
          and when users upload content or interact with the app.
        </li>
      </ul>
    </article>
    <article class="py-5">
      <h2 class="text-2xl w-full border-b-2">3. Use of Data</h2>
      <ul>
        <li>
          Data Storage: All data is stored in a database. Sensitive data such as
          passwords are encrypted.
        </li>
        <li>
          Purpose: The collected data will not be used for any purpose other
          than the functioning of the application.
        </li>
        <li>
          No Further Use: Your personal data will not be used for marketing,
          analysis, or shared with third parties.
        </li>
      </ul>
    </article>
    <article class="py-5">
      <h2 class="text-2xl w-full border-b-2">4. Data Retention and Security</h2>
      <ul>
        <li>
          Retention Period: We do not guarantee the persistence of your data.
          Data may be deleted at any time without prior notice.
        </li>
        <li>
          Security Measures: We implement measures to protect your data,
          including encryption of sensitive data like passwords. However, we
          cannot guarantee absolute security.
        </li>
      </ul>
    </article>
    <article class="py-5">
      <h2 class="text-2xl w-full border-b-2">5. Cookies</h2>
      <ul>
        <li>
          Use of Cookies: We use cookies solely for the operation of the app.
          There are no third-party cookies used.
        </li>
        <li>
          Types of Cookies: Only essential cookies that are necessary for the
          functionality of the app are used.
        </li>
      </ul>
    </article>
    <article class="py-5">
      <h2 class="text-2xl w-full border-b-2">6. User Rights</h2>
      <ul>
        <li>Access: You have the right to access your personal data.</li>
        <li>
          Rectification: You have the right to correct inaccurate or incomplete
          data.
        </li>
        <li>
          Deletion: You have the right to request the deletion of your data.
        </li>
        <li>
          Portability: You have the right to receive your data in a structured,
          commonly used format.
        </li>
        <li>
          Objection and Restriction: You have the right to object to data
          processing and request restriction of processing.
        </li>
      </ul>
    </article>
    <article class="py-5">
      <h2 class="text-2xl w-full border-b-2">
        7. Updates to the Privacy Policy
      </h2>
      <ul>
        <li>
          Modifications: We may update this policy and will notify you of any
          significant changes.
        </li>
        <li>
          Effective Date: This policy is effective as of Thursday 23, May, 2024.
        </li>
      </ul>
    </article>
    <article class="py-5">
      <h2 class="text-2xl w-full border-b-2">8. Contact</h2>
      <p>
        For questions or concerns about this Privacy Policy, please contact us
        at pameprojectmail@gmail.com .
      </p>
    </article>
  </main>
</Layout>

<style>
  li {
    list-style: disc;
    margin-top: 1em;
    margin-left: 2em;
  }
  p {
    margin-top: 1em;
    text-wrap: pretty;
  }
</style>
