---
import Layout from "@l/Layout.astro";
import BtnLink from "@/components/BtnLink";
import img from "../../public/img/3dWardrobeIllustration.png";
---

<Layout
  title="PAME - Register"
  desc="Register a new PAME account and enjoy!. PAME is a Wardrobe Online where you will be able to Manage your Outfits and Share them with your Friends."
>
  <header class="p-4">
    <a href="/" class="hover:animate-pulse">
      <h1 class="text-2xl font-semibold">P A M E</h1>
    </a>
  </header>
  <main class="h-full w-full flex flex-col items-center justify-between pb-4">
    <form
      class="w-full min-w-[300px] max-w-[500px] mx-auto flex flex-col gap-4 p-4"
      method="POST"
      action="api/register"
    >
      <h1 class="text-center text-xl">Register A New Account</h1>
      <label for="username"
        ><p>User Name</p><input
          class="w-full bg-transparent border-2 mt-2 py-1 px-2 rounded-xl"
          type="text"
          name="username"
          placeholder="User name"
        /></label
      >
      <label
        ><p>Password</p>
        <div class="flex gap-2">
          <input
            class="w-1/2 bg-transparent border-2 mt-2 py-1 px-2 rounded-xl"
            type="password"
            name="password"
            placeholder="Password"
          /><input
            class="w-1/2 bg-transparent border-2 mt-2 py-1 px-2 rounded-xl"
            type="password"
            name="repeatpassword"
            placeholder="Repeat Password"
          />
        </div>
      </label>
      <button
        class="bg-white/20 mt-2 py-1 rounded-xl hover:shadow-md hover:shadow-white/10"
        >Register</button
      >
    </form>
    <img src={img.src} alt="Image of a wardrobe" />
    <footer class="text-center">
      <p class="opacity-80 mb-2">Already have an account?</p>
      <BtnLink href="/logIn" content="Log Into You Account" log={true}/>
    </footer>
  </main>
</Layout>
