---
import Header from "@/components/Header.jsx";
import Layout from "@/layouts/Layout.astro";

const sessionUser = Astro.locals.user;

const headerLinks = [
  { href: "/myWardrobe", content: "My Wardrobe" },
  { href: "/pamShare", content: "Pam Share" },
  { href: "/#about", content: "About Us" },
];
---

<Layout title="Terms and conditions" desc="PAME's app Terms & Conditions">
  <Header client:visible headerLinks={headerLinks} show={true} user={sessionUser} />
  <main class="w-full max-w-[600px] mx-auto mt-10 mb-10 px-4">
    <h1 class="text-2xl font-semibold mb-5">P A M E - TERMS & CONDITIONS</h1>
    <article class="py-5">
      <h2 class="text-2xl w-full border-b-2">1. Introduction</h2>
      <p>
        Welcome to "PAME", an application developed as a final degree project.
        By using this application, you agree to these Terms and Conditions.
        Please read them carefully before using the app.
      </p>
    </article>
    <article class="py-5">
      <h2 class="text-2xl w-full border-b-2">2. Definitions</h2>
      <ul>
        <li>Application: "PAME - Your Wardrobe Online".</li>
        <li>User: Any person who registers and uses the application.</li>
        <li>
          Content: Images, texts, and any other information uploaded or
          generated in the application.
        </li>
      </ul>
    </article>
    <article class="py-5">
      <h2 class="text-2xl w-full border-b-2">3. Developer Information</h2>
      <p>
        This application is an academic project developed by Alonso Martínez. It
        is not backed by any company.
      </p>
    </article>
    <article class="py-5">
      <h2 class="text-2xl w-full border-b-2">4. Use of the Application</h2>
      <ul>
        <li>
          Eligibility: The application is available to anyone over the age of
          13. Users under age must have the consent of their parents or legal
          guardians.
        </li>
        <li>
          Account registration: Users must provide accurate information and
          maintain the security of their accounts. Sharing accounts is not
          allowed.
        </li>
        <li>
          Permitted use: Users can customize their profiles, add categories and
          garments, upload images, edit content, and use social features such as
          following other users and liking garments.
        </li>
        <li>
          User content: Users are responsible for the content they upload.
          Offensive, illegal, or infringing content is not allowed.
        </li>
      </ul>
    </article>
    <article class="py-5">
      <h2 class="text-2xl w-full border-b-2">5. Intellectual Property</h2>
      <ul>
        <li>
          Copyright: All the code of the application is under the MIT license.
          The rights to images and content uploaded by users belong to them.
        </li>
        <li>
          Trademarks: Any trademark or logo displayed in the application belongs
          to their respective owners.
        </li>
      </ul>
    </article>
    <article class="py-5">
      <h2 class="text-2xl w-full border-b-2">6. Privacy</h2>
      <ul>
        <li>
          Privacy policy: The application does not collect personal data beyond
          what is necessary for the described functionalities.
        </li>
        <li>
          Data security: Measures are implemented to protect user information,
          but absolute data security cannot be guaranteed.
        </li>
      </ul>
    </article>
    <article class="py-5">
      <h2 class="text-2xl w-full border-b-2">7. Images and Content</h2>
      <ul>
        <li>
          Responsibility for images: Users are responsible for the content of
          the images they upload. Uploading images containing offensive,
          illegal, or infringing content is not allowed.
        </li>
        <li>
          Public content usage: All content, including profile and garment
          images, is public and visible to all users of the application.
        </li>
      </ul>
    </article>
    <article class="py-5">
      <h2 class="text-2xl w-full border-b-2">8. Links to Third Parties</h2>
      <p>
        Responsibility for external links: The application may contain links to
        third-party websites. We are not responsible for the content of these
        external sites.
      </p>
    </article>
    <article class="py-5">
      <h2 class="text-2xl w-full border-b-2">9. Limitation of Liability</h2>
      <ul>
        <li>
          Exclusion of warranties: The application is provided "as it is",
          without warranties of any kind, express or implied. We do not
          guarantee that the application will be error-free or accessible at all
          times.
        </li>
        <li>
          Limited liability: We will not be liable for any damages or losses
          arising from the use of the application.
        </li>
      </ul>
    </article>
    <article class="py-5">
      <h2 class="text-2xl w-full border-b-2">10. Changes to the Terms</h2>
      <ul>
        <li>
          Right to modify: We reserve the right to modify these terms at any
          time. Changes will be effective once posted in the application.
        </li>
        <li>
          Notification of changes: Users will be notified of any significant
          changes to the Terms and Conditions.
        </li>
      </ul>
    </article>
    <article class="py-5">
      <h2 class="text-2xl w-full border-b-2">11. Termination</h2>
      <ul>
        <li>
          Right to terminate: We may suspend or terminate access to the
          application if users violate these terms.
        </li>
        <li>
          Effect of termination: Upon termination, the user's account and
          content may be deleted.
        </li>
      </ul>
    </article>
    <article class="py-5">
      <h2 class="text-2xl w-full border-b-2">
        12. Governing Law and Jurisdiction
      </h2>
      <p>
        These terms will be governed by and interpreted in accordance with the
        laws of Spain. Any disputes will be resolved in the courts of Madrid.
      </p>
    </article>
    <article class="py-5">
      <h2 class="text-2xl w-full border-b-2">13. Contact Information</h2>
      <p>
        For support or questions about these Terms and Conditions, please
        contact pameprojectmail@gmail.com .
      </p>
    </article>
    <article class="py-5">
      <h2 class="text-2xl w-full border-b-2">14. General Provisions</h2>
      <ul>
        <li>
          Entire agreement: These Terms and Conditions constitute the entire
          agreement between the parties regarding the use of the application.
        </li>
        <li>
          Severability: If any provision of these terms is found to be invalid,
          the remaining provisions will continue in effect.
        </li>
        <li>
          Waiver: The failure to enforce any right or provision of these terms
          will not constitute a waiver of such right or provision.
        </li>
      </ul>
    </article>
  </main>
</Layout>

<style>
  li {
    list-style: disc;
    margin-top: 1em;
    margin-left: 2em;
  }
  p {
    margin-top: 1em;
    text-wrap: pretty;
  }
</style>
