---
import BtnLink from "./BtnLink.astro";
import NavLink from "./NavLink.astro";
import PameLogo from "./PameLogo.astro";

interface HeaderLink {
  href: string;
  content: string;
}

interface Props {
  headerLinks?: Array<HeaderLink>;
}

const { headerLinks } = Astro.props;
---

<header
  class="w-full sticky top-0 grid grid-cols-8 backdrop-blur-md items-center"
>
  <aside
    class="col-span-4 sm:col-span-2 text-center p-4 flex items-center justify-start"
  >
    {/*  <a href="/PAME" class="hover:animate-pulse"><PameLogo /></a>*/}
    <a href="/PAME" class="hover:animate-pulse"
      ><h1 class="text-2xl font-semibold">P A M E</h1></a
    >
  </aside>

  <aside
    class="col-span-4 sm:col-span-6 p-4 flex items-center justify-end md:hidden"
  >
    <button><i class="text-2xl ri-menu-3-line"></i></button>
  </aside>

  <section
    id="sidebar"
    class="absolute top-0 right-0 h-screen flex flex-col justify-between w-[80%] md:relative md:h-auto md:w-auto col-span-6 md:grid grid-cols-6 md:items-center bg-slate-600 md:bg-transparent"
  >
    <header class="p-4 flex items-center justify-end md:hidden">
      <aside>
        <button><i class="text-2xl ri-xrp-line"></i></button>
      </aside>
    </header>

    <nav class="col-span-4 text-center p-4 h-full">
      <ul
        class="flex flex-col items-end md:flex-row md:items-center md:justify-around py-1 gap-2"
      >
        {
          headerLinks && headerLinks.length > 0 ? (
            headerLinks.map((link) => (
              <NavLink href={link.href} content={link.content} />
            ))
          ) : (
            <li>Your Wardrobe Online</li>
          )
        }
      </ul>
    </nav>

    <aside
      class="col-span-2 text-center p-4 flex items-center justify-center md:justify-end"
    >
      <BtnLink href="/" content="Log In" />
    </aside>
  </section>
</header>
