---
import img1 from "../../public/img/menLaptopIllustration.png"
import img2 from "../../public/img/friendsIllustration.png"
import img3 from "../../public/img/outfitIllustration.png"
import img4 from "../../public/img/womanMobileIllustration.png"
---

<main class="py-10 flex flex-col gap-10">
  <section
    class="flex flex-row-reverse justify-between items-center min-h-96"
  >
    <aside
      class="clippath reverse absolute md:before:-z-20 -z-20 md:relative md:z-0 w-full bg-gradient-to-tr from-slate-600/50 to-lime-300/30 p-20 md:w-1/2 flex items-center justify-center"
    >
      <img
        class="min-w-80 max-h-[300px]"
        src={img1.src}
      />
    </aside>
    <article class="p-10 flex flex-col items-start gap-8">
      <h2 class="text-4xl max-w-96">
        <em>O</em>rganize and <em>M</em>anage your <em>W</em>ardrobe
      </h2>
      <p class="max-w-[500px] text-pretty">
        <b>Register</b> your clothes, <b>organize</b> them by <b>categories</b>,
        write down details of each one and <b>much more</b>
      </p>
      <a href="/PAME/myWardrobe" class="border-2 rounded-full px-2 py-1 w-full mx-auto text-center hover:bg-slate-600 hover:animate-pulse transition-colors">My Wardrobe</a>
    </article>
  </section>

  <section
    class="flex flex-row justify-between items-center min-h-96"
  >
    <aside
      class="clippath absolute w-full md:before:-z-20 -z-20 opacity-80 md:relative md:z-0 md:opacity-100  bg-gradient-to-tr to-white/80 from-lime-600 p-20 md:w-1/2 flex items-center justify-center"
    >
      <img
        class="max-h-[300px]"
        src={img2.src}
      />
    </aside>
    <article class="p-10 flex flex-col items-end gap-8">
      <h2 class="text-4xl max-w-96 text-end">
        <em>C</em>onnect and <em>S</em>hare with your <em>F</em>riends
      </h2>
      <p class="max-w-[500px] text-pretty text-end">
        You can immerse yourself in <b>Pam Share</b>, discovering <b>Outfits</b
        >, making
        <b>friends</b> and <b>connecting</b> with your acquaintances
      </p>
      <a href="/PAME/pamShare" class="border-2 rounded-full px-2 py-1 w-full mx-auto text-center hover:bg-slate-600 hover:animate-pulse transition-colors">Pam Share</a>
    </article>
  </section>
</main>

<style>
  em {
    margin-right: 0.1em;
  }
  .clippath {
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
    &.reverse {
      clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(12, 34, 15, 0.5), rgba(65, 83, 68, 0.5));
    }
  }
</style>
