---

---

<main class="max-w-[1000px] m-auto px-8 py-4">
  <section>
    <aside>
        
    </aside>
    <article>
      <h3></h3>
      <ul>
        <li></li>
      </ul>
    </article>
  </section>
</main>
