---
import 'remixicon/fonts/remixicon.css'
import '@/pages/style.css'
import ViewTransitions from 'astro/components/ViewTransitions.astro';
import Footer from '@/components/Footer.astro';

interface Props {
  title: string;
  desc: string;
}

const { title, desc } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={desc} />
    <ViewTransitions/>
    <title>{title}</title>
  </head>
  <body class="min-h-screen bg-gradient-to-r from-slate-900 to-indigo-900 overflow-x-hidden">
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
  html {
    font-family: "Quicksand", system-ui, sans-serif;
    color-scheme: dark;
    scroll-behavior: smooth;
  }
</style>
